@model List<GroupAddDeleteUserVM>
<br />
<h2 class="text-light">Add User @ViewData["Name"]</h2>
<br />
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary" data-role-id="@item.userId">
                <th scope="row">@item.userId</th>
                <th>@item.username</th>
                <td style="text-align:right">
                    <form asp-controller="Panel" asp-action="GroupAddUser" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" readonly name="groupId" asp-for="@item.groupId" />
                        <input type="hidden" readonly name="userId" asp-for="@item.userId" />
                        <input type="submit" class="btn btn-outline-light p-2" value="Add" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>