@model List<UserGroup>
<br />
<h2 class="text-light">Groups</h2>
<br />
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" style="text-align:right">
                <a asp-controller="Panel" asp-action="AddGroupView" class="btn btn-outline-light p-2">Add</a>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary" data-role-id="@item.groupId">
                <th scope="row">@item.groupId</th>
                <td>@item.groupName</td>
                <td>@item.description</td>
                <td style="text-align:right">

                    <div id="deleteConfirmModal-@item.groupId" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content alert alert-dismissible alert-light">
                                <div class="modal-header">
                                    <h5 class="modal-title">Are You Sure?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" asp-controller="Panel" asp-action="DeleteGroup" asp-route-groupId="@item.groupId">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-outline-danger">Confirm Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a asp-controller="Panel" asp-action="ListGroupUsersView" asp-route-groupId="@item.groupId" class="btn btn-outline-success p-2">Users</a>
                    <a asp-controller="Panel" asp-action="UpdateGroupView" asp-route-groupId="@item.groupId" class="btn btn-outline-light p-2">Update</a>
                    <a data-bs-toggle="modal" data-bs-target="#deleteConfirmModal-@item.groupId" class="btn btn-outline-danger p-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>