@model List<GroupUserByGroupIdVM>
@{
    var groupId = TempData["GroupId"];//Context.Session.GetInt32("ListingGroupUsers-GroupId");
}
<br />
<h2 class="text-light">@ViewData["Name"] Users</h2>
<br />
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col" style="text-align:right">
                <a asp-controller="Panel" asp-action="GroupAddUserView" asp-route-groupId="@groupId" class="btn btn-outline-light p-2">Add</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <th scope="row">@item.userId</th>
                <td>@item.username</td>
                <td style="text-align:right">
                    <div id="deleteConfirmModal-@item.userId-@item.groupId" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content alert alert-dismissible alert-light">
                                <div class="modal-header">
                                    <h5 class="modal-title">Are You Sure?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                                    <form asp-controller="Panel" asp-action="GroupDeleteUser" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" readonly name="groupId" asp-for="@item.groupId" />
                                        <input type="hidden" readonly name="userId" asp-for="@item.userId" />
                                        <button type="submit" class="btn btn-outline-danger">Confirm Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a data-bs-toggle="modal" data-bs-target="#deleteConfirmModal-@item.userId-@item.groupId" class="btn btn-outline-danger p-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>