@model List<S3File>
<br />
<h2 class="text-info">Files</h2>
<br />

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Path</th>
            <th scope="col">User Id</th>
            <th scope="col" style="text-align:right">Groups</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <th scope="row">@item.fileId</th>
                <td>@item.fileName</td>
                <td> @item.fileDescription</td>
                <td>@item.filePath</td>
                <td>@item.userId</td>
                <td style="text-align:right">
                    <a asp-controller="File" asp-action="ListFileGroupsView" asp-route-fileId="@item.fileId" class="btn btn-outline-light p-2">Groups</a>
                </td>
            </tr>
        }
    </tbody>
</table>