@model User
<br />
<h2 class="text-success">User Update: @Model.username</h2>
<br />
<div>
    <form asp-controller="Panel" asp-action="UpdateUser" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@Model.userId" />
        <input asp-for="@Model.username" type="text" class="form-control" placeholder="Username">
        <br />
        <input asp-for="@Model.mail" type="email" class="form-control" placeholder="Mail">
        <br />
        <input asp-for="@Model.phone" type="tel" class="form-control" placeholder="Phone">
        <br />
        <input asp-for="@Model.password" type="tel" class="form-control" placeholder="Phone">
        <br />
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-success p-2" value="Update User" />
        </div>
    </form>
</div>
